[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{ kube_controller_manager_binary_path }}/kube-controller-manager \
  --allocate-node-cidrs={{ kube_controller_manager_allocate_node_cidrs | lower }} \
  --cluster-cidr={{ kube_controller_manager_cluster_cidr }} \
  --leader-elect={{ kube_controller_manager_leader_elect | lower }} \
  --service-cluster-ip-range={{ kube_controller_manager_service_cluster_ip_range }} \
  --master=https://master0.k8s.lan:6443 \
  --service-account-private-key-file=/var/lib/kubernetes/certs/kubernetes-key.pem \
  --root-ca-file=/var/lib/kubernetes/certs/ca.pem \
  --kubeconfig={{ kube_master_kubeconfig_path }}/kubeconfig-controller-manager \
  --v={{ kube_controller_manager_verbosity }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

