[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{ kube_apiserver_binary_path }}/kube-apiserver \
  --admission-control={{ kube_apiserver_admission_control | join(',') }} \
  --advertise-address={{ ansible_default_ipv4.address }} \
  --allow-privileged={{ kube_apiserver_allow_privilege | lower }} \
  --apiserver-count={{ kube_apiserver_count }} \
  --authorization-mode={{ kube_apiserver_authorization_mode }} \
  --authorization-policy-file={{ kube_apiserver_authorization_policy_file }} \
  --bind-address={{ kube_apiserver_bind_address }} \
  --enable-swagger-ui={{ kube_apiserver_enable_swagger_ui | lower }} \
  --etcd-cafile={{ kube_master_ca_cert_file }} \
  --insecure-bind-address={{ kube_apiserver_insecure_bind_address }} \
  --service-account-key-file={{ kube_master_tls_key_file }} \
  --service-cluster-ip-range={{ kube_apiserver_service_cluster_ip_range }} \
  --service-node-port-range={{ kube_apiserver_service_node_port_range }} \
  --etcd-servers={{ kube_apiserver_etcd_servers | replace(',\n', '') }} \
  --tls-ca-file={{ kube_master_ca_cert_file }} \
  --tls-cert-file={{ kube_master_tls_cert_file }} \
  --tls-private-key-file={{ kube_master_tls_key_file }} \
  --token-auth-file={{ kube_apiserver_token_auth_file }} \
  --v={{ kube_apiserver_verbosity }} \
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target