[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=-/etc/kubernetes/master
EnvironmentFile=-/etc/kubernetes/scheduler

ExecStart={{ kube_scheduler.binary_path }}/kube-scheduler \
  $KUBE_SCDL_LEADER_ELECT \
  $KUBE_SCDL_KUBECONFIG \
  $KUBE_LOG_LEVEL \
  $KUBE_LOGTOSTDERR \
  $KUBE_SCDL_ARGS

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target