# ------------------------
# kubernetes docker config
# ------------------------

DOCKER_IPTABLES="--iptables={{ docker.iptables_enabled | lower }}"
DOCKER_IP_MASQ="--ip-masq={{ docker.ipmasq_enabled | lower }}"
DOCKER_HOST="--host={{ docker.host }}"
{% if docker.cert_enable %}
DOCKER_TLS_VERIFY="--tlsverify"
DOCKER_TLS_CERT="--tlscert={{ kube_worker_tls_cert_file }}"
DOCKER_TLS_KEY="--tlskey={{ kube_worker_tls_private_key_file }}"
DOCKER_TLS_CA="--tlscacert={{ kube_worker_tls_ca_file }}"
{% endif %}
DOCKER_STORAGE_DRIVER="--log-level={{ docker.log_level }}"
DOCKER_LOG_LEVEL="--storage-driver={{ docker.storage_driver }}"

# Add your own!
DOCKER_ARGS=""