{
  "cniVersion": "{{ cni.version }}",
  "name": "{{ cni.network_name }}",
  "type": "{{ cni.network_type }}",
  "bridge": "{{ cni.network_bridge }}",
  "isGateway": {{ cni.network_is_gateway | bool | to_json }},
  "ipMasq": {{ cni.network_ip_mask | bool | to_json }},
  "mtu": {{ cni.network_mtu }},
  "addIf": "{{ cni.network_add_if }}",
  "hairpinMode": {{ cni.network_hairpin_mode | bool | to_json }},
  "ipam": {
    "type": "{{ cni.network_ipam_type }}",
    "subnet": "{{ node_cidr }}"
  },
  "routes": {{ cni.network_routes | to_nice_json }},
  "dns": {
    "nameservers": {{ cni.network_nameservers | to_nice_json }},
    "domain": "{{ cni.network_domain }}",
    "search": {{ cni.network_search | to_nice_json }}
  }
}


