[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart={{ kubelet_binary_path }}/kubelet \
  --allow-privileged={{ kubelet_allow_privileged | lower }} \
  {# --api-servers={{ kubelet_servers | regex_replace(',\n', '') }} \ #}
  --cloud-provider={{ kubelet_cloud_provider }} \
  --cluster-dns={{ kubelet_cluster_dns }} \
  --cluster-domain={{ kubelet_cluster_domain }} \
  {# --configure-cbr0={{ kubelet_configure_cbr0 | lower }} \ #}
  --container-runtime={{ kubelet_container_runtime }} \
  --docker={{ kubelet_docker }} \
  --network-plugin={{ kubelet_network_plugin }} \
  --kubeconfig={{ kubelet_kubeconfig_path }}/kubeconfig \
  {# --reconcile-cidr={{ kubelet_reconcile_cidr | lower }} \ #}
  --serialize-image-pulls={{ kubelet_serialize_image_pulls | lower }} \
  --tls-cert-file={{ kubelet_tls_cert_file }} \
  --tls-private-key-file={{ kubelet_tls_private_key_file }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target