[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io

[Service]
EnvironmentFile=-/etc/kubernetes/worker
EnvironmentFile=-/etc/kubernetes/docker
User=root

ExecStart={{ docker.binary_path }}/docker daemon \
  $DOCKER_IPTABLES \
  $DOCKER_IP_MASQ \
  $DOCKER_HOST \
  {% if docker.cert_enable %}
  $DOCKER_TLS_VERIFY \
  $DOCKER_TLS_CERT \
  $DOCKER_TLS_KEY \
  $DOCKER_TLS_CA \
  {% endif %}
  $DOCKER_STORAGE_DRIVER \
  $DOCKER_LOG_LEVEL

Restart=on-failure

[Install]
WantedBy=multi-user.target