[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/kubernetes/worker
EnvironmentFile=-/etc/kubernetes/kubelet
User=root

ExecStart={{ kubelet.binary_path }}/kubelet \
  $KUBE_ALLOW_PRIV \
  $KUBELET_CLOUD_PROVIDER \
  $KUBELET_CLUSTER_DNS \
  $KUBELET_CLUSTER_DOMAIN \
  $KUBELET_CONTAINER_RUNTIME \
  $KUBELET_DOCKER \
  $KUBELET_NETWORK_PLUGIN \
  $KUBELET_KUBECONFIG \
  $KUBELET_SERIALIZE_IMAGE_PULLS \
  $KUBELET_FAIL_SWAP_ON \
  $KUBELET_TLS_CERT_FILE \
  $KUBELET_TLS_PRIVATE_KEY_FILE \
  $KUBE_LOG_LEVEL \
  $KUBE_LOGTOSTDERR \
  $KUBELET_ARGS

Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target

